<?xml version="1.0"?>
<launch>
	<!-- diff_drive_controller configuration file -->
	<rosparam file="$(find driver_control)/config/diff_drive_controller.yaml" command="load"/>

	<!-- Main node -->
	<node name="robot_hardware_interface" pkg="driver_control" type="2WControl" output="screen"/>

	<!-- Visualize current speed through rqt -->
	<node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
		args="/first_wheel/data[1]
				/second_wheel/data[1]
		"/>

	<!-- Controller Spawner packages spawns diff_drive_controller -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
		args="
			diff_drive_controller
        "/>
</launch>
